SweetSpot was unable to process your credit card (xxxx-xxxx-xxxx-<%= @subscription.cc_digits_last_4 -%>).

Your subscription is set to expire in <%= @subscription.remaining_days %> days.  Please visit:
  https://www.SweetSpot.dm/account
to update your credit card information.  


QUESTIONS OR CONCERNS?
Respond to this email if you have any billing questions.

Thank you again for your business!
The SweetSpot Team
https://www.SweetSpot.dm